{{ $repo_type := $.Scratch.Get "platfrom" }}
<a href="{{.Site.Params.repo_url}}" title="Go to repository" class="md-source" data-md-source="{{ $repo_type}}">
        {{with  $repo_type}}
        <div class="md-source__icon">
                <svg viewBox="0 0 24 24" width="24" height="24">
                  <use xlink:href="#{{.}}" width="24" height="24"></use>
                </svg>
              </div> 
        {{end}} 
    <div class="md-source__repository">
            {{.Site.Params.repo_name}}
    </div>
  </a>